/* Global CSS */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Proza Libre', sans-serif;
}

:root {
  --primary-text-color: #fff;
  --secondary-text-color: rgba(170, 107, 228, 1);
  --main-bg-color: #04010f;
  --btn-color: #1e2167;
}

section>div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section-title {
  font-size: 1.8rem;
  font-family: 'Ubuntu', 'Poppins';
  text-transform: uppercase;
  text-align: center;
  transform: translate3d(0px, 100px, 0px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* Navbar CSS */

#nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

nav a{
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 3px 5px;
  margin: 0px 10px;
  text-transform: uppercase;
  border-bottom: 3px solid white;
  background-color: #1e2167;
}

#nav-hamburger-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Intro CSS */

#intro-container {
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
}

#intro-left {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ubuntu';
}

#intro-left .typedjs-container {
  margin-bottom: 20px;
}

#name,
#role {
  color: var(--secondary-text-color);
}

#intro-btn-container {
  margin: 0px 8px;
}

.btn-container button, .btn {
  border: 2px solid var(--primary-text-color);
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  padding: 3px 8px;
  font-family: 'Proza Libre', 'Poppins', sans-serif;
}

#intro-btn-container button {
  border-radius: 6px;
  margin: 4px 9px;
  font-size: 20px;
  background-color: var(--btn-color);
  color: var(--primary-text-color);
}

#intro-right {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(500px, 0px, 0px);
  opacity: 0;
}

#dev-img {
  width: 75%;
  min-width: 200px;
}

@media only screen and (max-width: 1300px) {
  #intro-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #dev-img{
    max-width: 500px;
  }
}

@media only screen and (max-width: 500px){
  .typedjs-container{
    height: 150px;
  }

  #dev-img{
    width: 95%;
  }
}

/* Skills CSS */

#skills-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#skills-img-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  position: relative;
}

.skills-img-wrapper {
  width: 20%;
  min-width: 170px;
  margin: 3px 1px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  overflow: hidden;
  transform: translate3d(-300px, 0px, 0px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.skills-img-wrapper img {
  width: 90%;
  display: block;
  margin: auto;
}

#js-img-wrapper img {
  transform: scale(1.4);
}

.hover-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 1.25rem;
  opacity: 0;
  transition: all 1s ease;
}

.hover-container:hover {
  opacity: 1;
}

/* Marks CSS */

#marks-container {
  min-height: 90vh;
}

#marks-count-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transform: translate3d(0, 100px, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.marks-solo-container {
  text-align: center;
  min-width: 60px;
}

.marks-label h2 {
  margin-bottom: 40px;
}

/* Projects CSS */

#projects-container {
  overflow: hidden;
}

#projects-img-container {
  position: relative;
  width: 100%;
  transform: translate3d(300px, 0, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* ProjectSlider CSS */

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  /* -- Prevent image highlighting -- */
}

#image-track .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* ContactPage CSS */

#contact-container{
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#contact-form-container{
  /* width: calc(50% - 0.5px); */
  margin: auto;
  padding: 2.5rem 3rem;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#contact-form-container h3{
  font-size: 1.4rem;
}

#contact-form-container form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact-input-wrapper{
  height: 40px;
  width: 100%;
  margin: 10px 0px;
  position: relative;
}

#contact-desc-wrapper{
  height: 45px;
  margin: 15px 0px;
}

.contact-input-wrapper input, .contact-input-wrapper textarea{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  background-color: transparent;
  color: var(--primary-text-color);
  resize: none;
}

.contact-input-wrapper label{
  position: absolute;
  top: 25%;
  left: 1px;
  cursor: pointer;
  color: #adadad;
  transition: all 0.3s ease;
}

.contact-input-wrapper input:focus ~ label,
.contact-input-wrapper input:valid ~ label {
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--primary-text-color);
  cursor: unset;
}

.contact-input-wrapper textarea:focus ~ label,
.contact-input-wrapper textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 0.9rem;
  color: var(--primary-text-color);
  cursor: unset;
}

.submit-btn{
  margin-top: 5px;
  border-radius: 20px;
  font-weight: 700;
  background-color: var(--primary-text-color);
}

/* .border-divider{
  border-top: 0.5px solid var(--primary-text-color);
  border-bottom: 0.5px solid var(--primary-text-color);
} */

#contact-other-container{
  /* width: calc(50% - 0.5px); */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#contact-other-container > div{
  width: 255px;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact-other-container a{
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--primary-text-color);
}

@media only screen and (max-width: 1150px){

  #contact-page-container{
    margin-top: 100px;
  }

  #contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #contact-form-container{
    border: none;
  }
}

@media only screen and (max-width: 500px) {
  #contact-form-container{
    padding: 2.5rem 0.1rem;
  }
}

/* Footer CSS */

#footer-container{
  text-align: center;
  border-top: 0.5px dotted var(--primary-text-color);
  padding: 30px 5px;
}

#footer-container a{
  text-decoration: none;
  /* font-family: 'Ubuntu';
  font-size: 1.1rem; */
  font-weight: 500;
  color: var(--secondary-text-color);
}

/* Carousel CSS */

body {
  background-color: #04010f;
  height: 100vh;
  color: var(--primary-text-color);
}

.gallery {
  display: flex;
  height: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  perspective: 500px;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  width: 12rem;
  height: 14rem;
  transition: transform 300ms cubic-bezier(0, 0.55, 0.45, 1);
}

.left .inner {
  perspective-origin: right center;
}

.right .inner {
  perspective-origin: left center;
}

.left .item {
  right: -10rem;
}

.right .item {
  left: -10rem;
}

.left .item:nth-child(1) {
  transform: translate3d(-10rem, 0, -4rem);
}

.left .item:nth-child(2) {
  transform: translate3d(-20rem, 0, -8rem);
}

.left .item:nth-child(3) {
  transform: translate3d(-30rem, 0, -12rem);
}

.left .item:nth-child(4) {
  transform: translate3d(-40rem, 0, -16rem);
}

.left .item:nth-child(5) {
  transform: translate3d(-50rem, 0, -20rem);
}

.left .item:nth-child(6) {
  transform: translate3d(10rem, 0, -4rem);
}

.right .item:nth-child(1) {
  transform: translate3d(10rem, 0, -4rem);
}

.right .item:nth-child(2) {
  transform: translate3d(20rem, 0, -8rem);
}

.right .item:nth-child(3) {
  transform: translate3d(30rem, 0, -12rem);
}

.right .item:nth-child(4) {
  transform: translate3d(40rem, 0, -16rem);
}

.right .item:nth-child(5) {
  transform: translate3d(50rem, 0, -20rem);
}

.right .item:nth-child(6) {
  transform: translate3d(-10rem, 0, -4rem);
}

/* TypedJS Custom CSS */

.typedjs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90.88px;
}

.typed-cursor {
  /* Cursor */
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 500px){
  .typedjs-container{
    height: 150px;
  }
}

/* Custom Mouse Trail CSS */

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}

.circle {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: var(--primary-text-color);
}

/* Misc CSS */

.container {
  width: 100%;
}

.active {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
  transition: all 1s ease !important;
}

.select-disabled {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-text-color);
  border-radius: 20px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(115, 57, 169);
}

/* https://codepen.io/Hyperplexed/pen/MWXBRBp */
/* https://codepen.io/Hyperplexed/full/rNrJgrd */